body {
  background-color: #202020;
}

header {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* set default styles for all boxes */
.time-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  flex-basis: 50%;
  padding-right:10px;
}

/* styles for past times */
.past {
  background-color: #9c9c9c;
  color: #000;
}

/* styles for present time */
.present {
  background-color: #ff6961;
}

/* styles for future times */
.future {
  background-color: #40af40;
}

/* styles for save button */
.saveBtn {
  background-color: #4dbdff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
  width: 50px;
}

/* styles for save button in the past */
.past .saveBtn {
  background-color: #bebec3;
  cursor: not-allowed;
}

/* styles for save button in the present */
.present .saveBtn {
  background-color: #ff5650;
}

/* styles for save button in the future */
.future .saveBtn {
  background-color: #000000;
}

.saveBtn:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}
